* {box-sizing: border-box}
        
body {font-family: Verdana, sans-serif; margin:0}

.images {display: none}

img {
    vertical-align: middle;
  width:100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;

}
.flex-box{
    width: 150px;
    height: 165px;
    background:pink;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 100px;
    border-radius: 20px;
    margin: 10px;
}
.flex-box:hover{
    background-color: rgb(255, 255, 140);
    color: black;
}
/* Slideshow container */
.carousel-container {
    border-radius: 25px;
   background-color: rgb(255, 255, 255);
   width: 90%;
   min-width: 80%;
   height: 280px;
   overflow: hidden;
   position: relative;
   margin: auto;
   margin-top: 4px;
}

/* Next & previous buttons */
.previous, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;

}

.previous{
    left: 0;
}
/* Position the "next button" to the right */
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit seethrough */
.previous:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.navigation-dot {
   cursor: pointer;
   height: 8px;
   width: 8px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}
.active, .navigation-dot:hover {
   background-color: #717171;
}
#navbar {
    width: auto;
    height: auto;

    background-color: #000000;
    border-radius: 10px 10px 10px 10px; 
    margin-bottom: 10px;
    overflow: hidden;
}

#nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
    display: block;
}

#nav a:hover {
    background-color: rgb(255, 249, 66,0.7);
    color: black;
    display: block;
    overflow: auto;
    height: 100%;
    border-radius: 30px 30px 30px 30px;
    
}
.logoweb {
    width: 15px; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Add some spacing between the image and text */
    /* display: block; */
}

div {
    text-align: center; /* Center the content horizontally */
    flex-wrap: wrap;
    /* display: flexbox; */

}
.div1 {
    background-color: aliceblue;
    height:90px;
    width:fit-content;
}
#containerimg1 {
    width: 50px;
    height: 40px;
}


.grid-item:hover{
    background-color: rgb(255, 249, 66,0.7);
    color:black;
}
.imggrid{
    height: 70px;
    width: 70px;
}


#class{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.checkbox{
    display: flex;
    margin: 10px;

}

.fleximage{
    overflow: hidden;
    width: 100px;
    height: 100px;

}
